.idea/
python/src/__pycache__
res
java/java.iml
java/out
gcj/python/src/d3/__pycache__/
gcj/python/src/ints/__pycache__/
tttt
gcj/python/src/main/__pycache__/
gcj/python/src/main/d3/__pycache__/
gcj/python/src/main/ints/__pycache__/
gcj/python/src/main/__pycache__/
gcj/python/src/main/d3/__pycache__/
gcj/python/src/main/ints/__pycache__/
gcj/python/src/main/__pycache__/
gcj/python/src/main/d3/__pycache__/
gcj/python/src/main/ints/__pycache__/
